body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.distance{
  margin-top: 3%;
}

.card-width{
  width:60%;
  min-width: 500px;
}

.list-property{
  font-size:xx-large;
}

.center-class{
  margin-top:50%;
  margin-left:20%;
}

.center-class2{
  margin-top:10%;
  margin-left:50%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th {
  border: 1px solid #dddddd;
  /* text-align: center; */
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tableHearder{
  text-align: center;
  font-weight: bold;
  padding-left: 10px;
}

.td-text{
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.td-text2{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}
